body {
    margin: 0;
    background-color: black;
}

.welcome-page {
    position: absolute;
    right: 0;
    height: 90%;
    width: 100%;
    border-bottom: 5px solid gold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: paleturquoise;
    overflow: hidden;
}

.welcome-page p {
    font-family: fantasy;
    font-size: 2em;
    text-align: center;
}

.make-big {
    color: darkviolet;
    font-size: 3em;
}

u {
    text-decoration-color: gold;
}

.nav-bar {
    position: relative;
    right: 0;
    left: 0;
    width: 100%;
    background-color: black;
    border-bottom: 5px solid gold;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li button {
    border: none;
    background: none;
    font-family: fantasy;
    font-size: large;
    color: darkviolet;
}

button:hover {
    cursor: pointer;
}

.animation-out {
    animation: slide-out 1s ease 0s 1 normal both;
}

.animation-in {
    animation: slide-in 1s ease 0s 1 normal both;
}

.animation-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: -9999px;
    background-color: paleturquoise;
    text-align: center;
}

.animation-content p {
    font-size: 1.5em;
}

@keyframes slide-out {
    from {top: -9999px}
    to {top: 0;}
}

@keyframes slide-in {
    from {top: 0;}
    to {top: -9999px;}
}