html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: black;
    background-image: linear-gradient(to right, black, rgb(146, 0, 209, 0.5), rgb(148, 0, 211, 0.5), black);
    color: whitesmoke;
    font-family: sans-serif;
}

.drop-button {
    color: darkturquoise;
    font-size: 32px;
    background-color: transparent;
    border: none;
}

.drop-down {
    z-index: 1;
    display: inline;
    position: sticky;
    top: 0;
    float: left;
}


.nav-links {
    background-color: rgb(0, 206, 209, 0.9);
    color: black;
    border-radius: 10px;
    position: absolute;
    display: none;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;     
}

.nav-links.display {
    display: block;
}

.nav-links a {
    display: block;
    margin: 10px;
}

.contact-links-logos {
    display: flex;
    align-items: center;
    padding: 5px;
}

.main-content {
    padding: 0 15px 15px 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.section-margin-padding {
    margin: 30px 10px 30px 10px;
    padding: 60px 10px 60px 10px;
}

.make-big {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.bottom-border-left-half {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, darkturquoise, transparent) 50% 1;
}

.bottom-border-right-half {
    border-bottom: 3px solid;
    border-image: linear-gradient(to left, darkturquoise, transparent) 50% 1;
}

.welcome {
    margin: 0 10px 30px 10px;
    position: relative;
    text-align: center;

}

.welcome:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url('images/background\ keyboard\ image.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

h1 {
    display: inline-block;
    position: relative;
    padding: 10px;
}
  
h1:before,
h1:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
}
  
h1:before {
    right: 0;
    top: 0;
    border-right: 3px solid darkturquoise;
    border-top: 3px solid darkturquoise;
}
  
h1:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid darkturquoise;
    border-bottom: 3px solid darkturquoise;
}

.about {
    text-align: left;
}

.skills {
    text-align: right;
}

.skill-logos {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.skill-logos i {
    margin: 10px 0 10px 0;
    padding: 10px;
}

.projects {
    text-align: left;
}

.collapsible {
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;
    color: whitesmoke;
}

.collapsible:after {
    content: '\02795';
    margin-left: 10px;
}

.active:after {
    content: "\2796";
}

.collapsible-content {
    display:none;
    overflow: hidden;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.project img {
    margin: 5px;
}

.contact {
    margin-bottom: 16px;
    padding-bottom: 16px;
    text-align: center;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 530px) {

    .drop-down {
        float: none;
        display: block;
        width: 100%;
    }

    .drop-button {
        display: none;
    }

    .nav-links {
        width: 100%;
        padding: 2px;
        background-color: transparent;
        background-image: linear-gradient(to right, black, rgb(146, 0, 209, 0.5), rgb(148, 0, 211, 0.5), black);
        color: darkturquoise;
        text-shadow: 2px 2px black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}